body {
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    BACKGROUND-COLOR: #D1D1CC;
    color: #a17544;
  }
  
  header {
    background-color: #2c1b14;
    color: #D1D1CC;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #9E9C9C;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  
  }
  
  nav li {
    margin-right: 20px;
    display: inline-block;
  }
  
  nav a {
    color: #D1D1CC;
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    main {
      max-width: calc(100% - 20px);
      /* Subtract the left and right padding of the header */
      padding: 10px;
      margin-bottom: 10px;
    }
  }
  
  section {
    padding: 20px;
  }
  
  section h2 {
    font-size: 24px;
  }
  
  section ul {
    list-style: none;
  }
  
  footer {
    background-color: #7f8c83;
    position: fixed;
    bottom: 0;
    color: #D1D1CC;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #9E9C9C;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .video-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .video-container {
    margin: 0 10px;
    /* Adjust as needed */
    width: calc(33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-container video {
    max-width: 100%;
  }
  
  .video-container h1,
  .video-container p {
    margin: 0;
  }
  
  .video-container h1 {
    border-radius: 10px;
    /* Adjust as needed */
    padding: 10px;
    /* Adjust as needed */
    background-color: #74431d;
    /* Adjust as needed */
    margin-bottom: 10px;
  }
  
  .video-container p {
    margin-bottom: 10px;
    /* Adjust as needed */
  }
  
  .video-container video {
    margin-top: 20px;
    /* Adjust as needed */
  }
  
  header h1,
  header ul {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  section a:link {
    color: #D1D1CC;
    font-weight: bold;
    text-decoration: none;
    background-color: #74431d;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  
  section a:hover,
  section a:active {
    background-color: #A3B4C2;
  }
  
  .video-row div h1 {
    color: #D1D1CC;
    font-weight: bold;
    text-decoration: none;
    background-color: #74431d;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  section div {
    margin-top: 20px;
    ;
  }
  
  #photo-set {
    display: flex;
  }
  
  #photo-set img {
    flex: 1;
    border: 2px solid #B8C1B1;
    box-shadow: 5px 5px 10px 0px #9E9C9C;
    border-radius: 10px;
    margin: 10px;
    width: calc(33% - 20px);
    height: calc(33% - 20px);
    object-fit: contain;
  }
  
  #vid-set {
    display: flex;
  }
  
  #vid-set img {
    flex: 1;
    border: 2px solid #B8C1B1;
    box-shadow: 5px 5px 10px 0px #9E9C9C;
    border-radius: 10px;
    margin: 10px;
    width: calc(33% - 20px);
    height: calc(33% - 20px);
    object-fit: contain;
  }
  