body {
    font-family: 'Montserrat','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4C3B4D;
}

head {
    background-color: #f2ede4;
}

header {
    background-color: #8C5E58;
    color: #E8D7C1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #4C3B4D;
    padding: 10px;
    margin-bottom: 10px;
}

nav {
    display:flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
 
}

nav li {
    margin-right: 20px;
    display: inline-block;
}

nav a {
    color: #E8D7C1;
    text-decoration: none;
    padding: 10px;
}

main {
    main {
        max-width: calc(100% - 20px); /* Subtract the left and right padding of the header */
        padding: 10px;
        margin-bottom: 10px;
    }
}

section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
}

section ul {
    list-style: none;
}

footer {
    background-color: #8C5E58;
    position: fixed;
    bottom: 0;
    color: #E8D7C1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #4C3B4D;
    padding: 10px;
    margin-bottom: 10px;
}

.video-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-container {
    margin: 0 10px; /* Adjust as needed */
    width: calc(33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container video {
    max-width: 100%;
}

.video-container h1,
.video-container p {
    margin: 0;
}

.video-container h1 {
    border-radius: 10px; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
    background-color: #8C5E58; /* Adjust as needed */
    margin-bottom: 10px;
}

.video-container p {
    margin-bottom: 10px; /* Adjust as needed */
}

.video-container video {
    margin-top: 20px; /* Adjust as needed */
}

header h1, header ul {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-bottom: 20px;
}

section a:link {
    color: #E8D7C1;
    font-weight: bold;
    text-decoration: none;
    background-color: #8C5E58;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

section a:visited {
    color: yellow;
    text-decoration: underline;
}

section a:hover, section a:active {
    background-color: #F4A259;
}

.video-row div h1 {
    color: #E8D7C1;
    font-weight: bold;
    text-decoration: none;
    background-color: #8C5E58;
    padding: 5px 10px;
    border-radius: 5px;
}

section li {
    margin-top: 20px;
    margin-bottom: 20px;
}